* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    border: 2px solid rgb(56, 3, 3);

}

body {
    background-color: rgb(207, 228, 214);
}

header,
footer {
    width: 100%;
    height: 10%;
    background-color: #62796c;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: white;
    /* border: 3px solid white; */
}

.layout-grid {
    width: 100%;
    max-width: 992px;
    height: 100%;
    margin: 0 auto;
    /* border: 3px solid salmon; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
    /*border: 3px solid white;*/
    /* border: 3px solid white; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 50px;
    color: #e8e8e8;
    text-decoration: none;
    font-family: Verdana;
    transition: background-color 0.4s, border-radius 0.4s, margin-left 0.8s, margin-botton 0.8;
}

nav a:hover {
    background-color: rgb(232, 232, 232, 0.5);
    color: #fefefe;
    /* text-decoration: underline; */
    font-style: italic;
    font-size: medium;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.ux {
    font-size: 30px;
    margin-left: 3px;
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
}

main {

    width: 100%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 3px solid red; */
}

.main-flex {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    /* border: 2px solid green;
    background-color: pink; */

}

.harmonia {
    overflow: auto;
    border: 2px solid rgb(82, 171, 148);
    width: 700px;
    height: 100%;
    background-color: rgb(165, 216, 194);


}

aside {
    width: 250px;
    height: 100%;
    border: 2px solid rgb(82, 171, 148);
    background-color: rgb(165, 216, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


aside article {
    background-color: #fefefe;
    width: 100%;
    height: 100px;
}

aside article h3{
    width: 100%;
color: #010101;
text-align: center;
text-transform: uppercase;
padding: 10px;
border: 2px solid black;
}

aside .buscar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

aside article input, aside article button {
height: 20px;
margin-top: 20px;
margin-bottom: 25px;

}
aside article input{
    border-bottom: 1x solid #727272;
    outline: none;
    padding-right:5px ;
    padding-left: 5px;
    
    }
     aside article button {
  width: 30px;
    background-color: #727272;
    border: none;
    border: 1x solid #727272;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
     }

img {
    width: 100%;

}

.harmonia h4 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.harmonia p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}